body { 
    /* background-image: url('../image/burger.jpg') ; */
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	/* background-color: #000000;   */
}

#topPart{
    /* align-content: center; */
    text-align: center;
}

#centerPart{
    text-align: center;

}

#submitArea{
    /* align-content: center; */
    text-align: center;
}



/* background-image: url('images/slides/background.jpg'); */