body { 
    background-image: url('/image/burger.jpg') ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	/* background-color: #000000;   */
}

#topPart{
    /* align-content: center; */
    margin-left: 100px;
}

#submitArea{
    /* align-content: center; */
    margin-left: 100px;
}



/* background-image: url('images/slides/background.jpg'); */