body { 
    /* background-image: url('../image/burger1.jpg') ; */
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: yellow;  
}

.top-section, .lower-section{
    text-align: center; 
}

.middle-section {
    /* background-color: yellow;  */
    align-content: auto;

}

#label {
    /* font-color: black; */
    color: black;
}

#burger-photo{
    margin-top: 10px;
}

#devour {
    /* text-align: center; */
}

li {
    /* text-align:center; */
    padding: 4px;
}


/* background-image: url('images/slides/background.jpg'); */